.page-course
    margin: auto
    width: 100%
    max-width: 1000px
    display: grid
    grid-auto-flow: row
    grid-auto-rows: min-content

    padding: 1em

    justify-items: center
    .container
        padding: 1em

        display: grid
        gap: 1em
        grid-auto-flow: row
        grid-auto-rows: max-content

        .head-title
            text-transform: capitalize

        .illustration
            width: 100%
            object-fit: cover
        ul
            width: 100%
            max-width: 300px

        .links,.files

            display: grid
            gap: .5em
            grid-auto-flow: column
            justify-content: flex-start
            width: 100%

        .btn-link
            color: $blue
            border-bottom: 1px solid transparent
            &:hover
                border-bottom: 1px solid $blue

        .btn-file
            background: orange
            color: $white
            filter: brightness(.9)
            &:hover
                filter: brightness(1)

        .links
            grid-auto-flow: row
            width: 100%

        .btn-video
            color: $white
            background: $red
            filter: brightness(.9)
            h4
                display: flex
                align-items: center
                img
                    height: 20px
                    filter: invert(1)
                    margin-left: .5em
            &:hover
                filter: brightness(1)

        .btn-third
            justify-self: flex-start
        .btn-main
            justify-self: center
            margin: 2em

@media only screen and (min-width: $desktopBreakpoint)
    .container
        grid-template-columns: 2fr 1fr
        grid-template-rows: repeat(6,min-content)
        grid-template-areas: "title title" "img video" "img description" "img links" "img files" "buttons buttons"
        width: 100%

        margin-right: 70px

        .title
            grid-area: title

        .btn-video
            grid-area: video

        .illustration
            grid-area: img
            height: 100%
            width: 100%
            object-fit: cover
            object-position: top
            background: red
        .description
            grid-area: description
            background: rgba(255,255 ,255 ,.2 )
            min-height: 120px
            padding: 1em
            border-radius: .5em
        .links
            grid-area: links
            background: rgba(255,255 ,255 ,.2 )
            padding: 1em
            border-radius: .5em
        .files
            grid-area: files
        .btn-main
            grid-area: buttons
