.page-landing
    display: flex
    flex-direction: column

    #articles

        padding: 3em 0
        article

            z-index: 1
            display: grid
            gap: .3em
            grid-template-columns: 70% 1fr
            grid-template-rows: 1fr 1fr
            grid-template-areas: "title ." "subtitle ."

            padding: 1em
            margin: 0 auto
            margin-bottom: 5em

            max-width: 800px
            height: 250px

            h2,p
                z-index: 1

            h2
                grid-area: title
                padding: 3px 12px
                align-self: flex-end
                background: $white
                width: max-content
                transform: skewX(-20deg)
                border-radius: 8px

            p
                grid-area: subtitle
                max-width: 70%

            .img-container
                position: absolute
                max-width: 800px
                margin: 0 auto

                height: min-content
                width: 100%
                display: grid
                grid-template-columns: 1fr 60%
                grid-template-areas: " logo illustration "

                overflow: hidden
                //background: blue

                .illustration
                    grid-area: illustration
                    justify-self: center
                    align-self: center
                    height: 320px
                    object-fit: contain

                .logo
                    grid-area: logo
                    justify-self: center
                    align-self: center
                    opacity: .1
                    height: 100px
                    transform: rotate(-4deg)

            &:nth-last-child(odd)
                grid-template-columns: 1fr 70%
                grid-template-areas: ".title " ".subtitle "
                h2,p
                    text-align: right
                    justify-self: flex-end

                .img-container
                    grid-template-columns: 70% 1fr
                    grid-template-areas: " illustration logo"

.up-arrow
    width: 100%
    padding: 1em 0
    @include flex-full-centered
    img
        transform: rotate(180deg)
        &:hover
            transition: ease .3s
            transform: rotate(180deg) scale(1.2)
