.page-teacher

    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    padding-bottom: 1em
    width: 100%

    padding-top: 50px
    @media only screen and (min-width: $tabletBreakpoint)
        padding-top: 0
    .head-title
        color: $white
        width: 100%
        background: rgba(0,0,0,.3)
        text-transform: capitalize
        padding: .5em 1em
    .empty
        width: 100%
        min-height: 60vh
        @include flex-full-centered

    .cards
        display: grid
        gap: 18px
        grid-auto-flow: row

        @media only screen and (min-width: $tabletBreakpoint)
            margin-right: 70px
            grid-template-columns: 1fr 1fr
        @media only screen and (min-width: $desktopBreakpoint)
            grid-template-columns: 1fr 1fr 1fr
            @media only screen and (min-width: 1300px)
                grid-template-columns: 1fr 1fr 1fr 1fr

        .card
            position: relative
            $card-height: 300px
            overflow: hidden
            background: $black
            color: $white

            min-width: 300px
            width: 100%
            max-width: 500px
            height: $card-height

            padding: .5em

            display: grid

            grid-template-rows: min-content 1fr min-content
            grid-template-areas: "title ""description ""menu "

            img
                position: absolute
                z-index: 0
                filter: brightness(.5)
                height: 100%

                object-fit: cover
                object-position: top center

            .title,
            p
                padding: 0 18px

            .title
                z-index: 1
                margin: 12px 0
                grid-area: title
                justify-self: center
                text-align: left
                width: 100%
                max-width: 350px
                text-transform: capitalize

            .description
                z-index: 1

                grid-area: description
                max-width: 350px

            .menu
                z-index: 1
                grid-area: menu
                height: 50px

                display: grid
                grid-auto-flow: column
                justify-items: center
                align-items: center

                a,button
                    color: $white
                    &:hover
                        transition: .2s ease
                        color: $yellow
                .btn-orange
                    box-shadow: 2px 2px 2px rgba(0,0 ,0 ,.12 )
