.page-teacher

    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    padding-bottom: 1em
    width: 100%

    padding-top: 50px
    @media only screen and (min-width: $tabletBreakpoint)
        padding-top: 0
    .head-title
        color: $white
        width: 100%
        background: rgba(0,0,0,.3)
        text-transform: capitalize
        padding: .5em 1em

    .cards
        //max-width: 900px
        //margin: 0 auto
        display: grid
        gap: 18px
        grid-auto-flow: row
        padding: 1em

        @media only screen and (min-width: $tabletBreakpoint)
            margin-right: 70px
            grid-template-columns: 1fr 1fr
        @media only screen and (min-width: $desktopBreakpoint)
            grid-template-columns: 1fr 1fr 1fr
            @media only screen and (min-width: 1300px)
                grid-template-columns: 1fr 1fr 1fr 1fr

        .card
            $card-height: 300px
            overflow: hidden
            background: $white
            color: $black

            min-width: 280px
            width: 100%
            max-width: 500px
            height: $card-height
            border-radius: 1em

            display: grid
            grid-template-columns: 2fr 1fr
            grid-template-rows: min-content 1fr min-content

            grid-template-areas: "title img""description img ""menu menu"

            img
                grid-area: img
                height: 100%
                width: 100%
                object-fit: cover
                object-position: top center

            .title,
            p
                padding: 0 18px

            .title
                margin: 12px 0
                grid-area: title
                justify-self: center
                text-align: left
                width: 100%
                max-width: 350px
                text-transform: capitalize

            .description

                grid-area: description
                max-width: 350px

            .menu
                grid-area: menu
                background: $black

                height: 50px

                display: grid
                grid-auto-flow: column

                justify-items: center
                align-items: center
                a,button
                    color: $white
                    &:hover
                        transition: .2s ease
                        color: $yellow

    .btn
        justify-self: center
        &-300
            h3
                color: $yellow
