button
  background: none
  border: none
  cursor: pointer

.btn
  cursor: pointer
  height: $mob-button-height
  display: flex
  justify-content: center
  align-items: center
  padding: 0 12px
  border-radius: 8px

.btn-main
  $color: $gray2
  $secondcolor: $yellow

  background: $color
  border: 1px solid $color
  transform: skewX(-20deg) translateY(-2px)
  box-shadow: 3px 3px 0 orange

  h3,h4
    color: $secondcolor
    text-transform: capitalize
    transform: skewX(20deg)

  .icon-btn
    width: 20px
    height: 20px
    margin: 6px
    filter: invert(1)

  &:hover
    transform: skewX(-20deg)
    box-shadow: unset
    transition: ease 0.1s

  &:disabled
    filter: saturate(0)
    opacity: 0.05

.btn-ghost
  $color: $gray2
  $secondcolor: $white

  transform: skewX(-20deg) translateY(-2px)

  background: none
  border: 2px solid $color
  box-shadow: 3px 3px 0 orange

  h3,h4
    color: $color
    text-transform: capitalize
    transform: skewX(20deg)

  .icon-btn
    width: 20px
    height: 20px
    margin: 6px
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(-45deg)

  &:hover
    transform: skewX(-20deg)
    transition: ease 0.1s
    box-shadow: unset
    .icon-btn
      filter: invert(1)

.pill
  height: 25px
  cursor: default
  border: 1px solid $gray4
  border-radius: 8px

  h3
    font-size: 14px
    margin-left: 3px
    color: $gray4
    padding: 0 12px

input
  border: none
  min-height: 30px
  border-radius: 8px

input[type="submit"]
  color: $white

.btn-circle
  height: 44px
  width: 44px
  border-radius: 44px
  background: $red
  color: $white

.select-ghost
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 24px

  background: none
  border: 2px solid $red
  border-radius: 8px
  width: 100%

  h4
    color: $red
    text-transform: capitalize
    font-weight: 400

  .dropdown-arrow
    width: 20px
    height: 20px
    margin: 6px
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(-45deg)

  &:hover
    transition: ease 0.3s
    background: $red
    h4
      color: $white
    .dropdown-arrow
      filter: invert(0)
