form
    max-width: 800px
    margin: 0 auto
    display: grid
    gap: 1em
    grid-auto-flow: row
    justify-items: center
    label
        display: flex
        flex-direction: column
        transform: skewX(-20deg)

        input

            width: 100%
            padding-left: 12px
            margin-top: .3em
        button
            width: 140px
